<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="dbLog" providerName="System.Data.SqlClient" connectionString="Data Source=HLPSRV;Initial Catalog=Portal_HLP;User Id=sa;Password=H029060tSql;"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
